<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <th:block th:fragment="head">
            <title th:text = "${title}"/>
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

            <link th:href="@{/webjars/jquery-ui/1.11.4/jquery-ui.min.css}"
                  rel="stylesheet"
                  media="screen" />

            <link th:href="@{/webjars/materializecss/0.99.0/css/materialize.min.css}"
                  rel="stylesheet"
                  media="screen" />

            <script th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"/>
            <script th:src="@{/webjars/jquery-ui/1.11.4/jquery-ui.min.js}"/>
            <script th:src="@{/webjars/materializecss/0.99.0/js/materialize.min.js}"/>
            <script th:inline="javascript">
                /*<![CDATA[*/
                    $(document).ready(function() {
                        $('select').material_select();
                    });
                /*]]>*/
            </script>
        </th:block>
    </head>

    <body>
        <th:block th:fragment="navbar">
            <nav>
                <div class="nav-wrapper">
                    <a href="#" class="brand-logo center">HockeySeer</a>
                    <ul id="nav-mobile" class="left hide-on-med-and-down">
                        <li><a href="/">Home</a></li>
                        <li><a href="/searchtool">Search tool</a></li>
                    </ul>
                </div>
            </nav>
            <br/>
        </th:block>
    </body>
</html>