<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head>

    </head>

    <body>
        <th:block th:fragment="searchToolForm">
            <div class="row">
                <form class="col s12" th:action="@{/searchtool}" th:object="${searchToolForm}" method="post">
                    <div class="row">
                        <div class="input-field col s6">
                            <h4 th:text="'Team'"/>
                            <select th:field="*{team}">
                                <option value="" disabled="disabled" selected="selected">Choose team:</option>
                                <th:block th:each="team : ${teams}">
                                    <option th:value="${team.id}" th:text="${team.name}"/>
                                </th:block>
                            </select>
                        </div>
                        <div class="input-field col s3">
                            <h4 th:text="'Against'"/>
                            <select id="againstSelect" th:field="*{againstSelect}">
                                <option value="1" th:text="'Team'"/>
                                <option value="2" th:text="'Division'"/>
                                <option value="3" th:text="'Conference'"/>
                                <option value="4" th:text="'League'"/>
                            </select>
                        </div>

                        <div id="teamContainer" class="input-field col s3 againstContainer">
                            <h4 th:text="'Team'"/>
                            <select multiple="multiple" th:field="*{againstTeam}">
                                <th:block th:each="team : ${teams}">
                                    <option th:value="${team.id}" th:text="${team.name}"/>
                                </th:block>
                            </select>
                        </div>
                        <div id="divisionContainer" class="input-field col s3 againstContainer">
                            <h4 th:text="'Division'"/>
                            <select multiple="multiple" th:field="*{againstDivision}">
                                <option value="Metropolitan" th:text="'Metropolitan'"/>
                                <option value="Atlantic" th:text="'Atlantic'"/>
                                <option value="Central" th:text="'Central'"/>
                                <option value="Pacific" th:text="'Pacific'"/>
                            </select>
                        </div>
                        <div id="conferenceContainer" class="input-field col s3 againstContainer">
                            <h4 th:text="'Conference'"/>
                            <select th:field="*{againstConference}">
                                <option value="Eastern" th:text="'Eastern'"/>
                                <option value="Western" th:text="'Western'"/>
                            </select>
                        </div>
                        <div id="leagueContainer" class="input-field col s3 againstContainer">
                            <h4 th:text="'League'"/>
                            <select>
                                <option value="" selected="selected" th:text="League"/>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <div class="input-field col s6">
                                <h4 th:text="'Season'"/>
                                <select multiple="multiple" th:field="*{season}">
                                    <option th:value="'20172018'" th:text="'2017 - 2018'"/>
                                    <option th:value="'20162017'" th:text="'2016 - 2017'"/>
                                    <option th:value="'20152016'" th:text="'2015 - 2016'"/>
                                    <option th:value="'20142015'" th:text="'2014 - 2015'"/>
                                    <option th:value="'20132014'" th:text="'2013 - 2014'"/>
                                </select>
                            </div>
                            <div class="input-field col s6">
                                <h4 th:text="'Date'"/>
                                <input type="text" class="datepicker"/>
                            </div>
                        </div>
                    </div>


                    <p>
                        <input class="waves-effect waves-light btn-large" type="submit" value="Submit" />
                        <input class="waves-effect waves-light btn-large" type="reset" value="Reset" />
                    </p>
                </form>
            </div>
            <hr/>
        </th:block>
    </body>
</html>