<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head>

    </head>

    <body>
        <th:block th:fragment="searchToolForm">
            <div class="row">
                <form class="col s12" th:action="@{/searchtool}" th:object="${searchToolForm}" method="post">
                    <div class="row">
                        <div class="input-field col s6">
                            <h4 th:text="'Team'"/>
                            <select th:field="*{team}">
                                <option value="" disabled="disabled" selected="selected">Choose team:</option>
                                <th:block th:each="team : ${teams}">
                                    <option th:value="${team.id}" th:text="${team.name}"/>
                                </th:block>
                            </select>
                        </div>
                        <div class="input-field col s3">
                            <h4 th:text="'Against'"/>
                            <select id="againstSelect" th:field="*{againstSelect}">
                                <option value="1" th:text="'Team'"/>
                                <option value="2" th:text="'Division'"/>
                                <option value="3" th:text="'Conference'"/>
                                <option value="4" th:text="'League'"/>
                            </select>
                        </div>

                        <div id="teamContainer" class="input-field col s3 againstContainer">
                            <h4 th:text="'Team'"/>
                            <select multiple="multiple" th:field="*{againstTeam}">
                                <th:block th:each="team : ${teams}">
                                    <option th:value="${team.id}" th:text="${team.name}"/>
                                </th:block>
                            </select>
                        </div>
                        <div id="divisionContainer" class="input-field col s3 againstContainer">
                            <h4 th:text="'Division'"/>
                            <select multiple="multiple" th:field="*{againstDivision}">
                                <option value="Metropolitan" th:text="'Metropolitan'"/>
                                <option value="Atlantic" th:text="'Atlantic'"/>
                                <option value="Central" th:text="'Central'"/>
                                <option value="Pacific" th:text="'Pacific'"/>
                            </select>
                        </div>
                        <div id="conferenceContainer" class="input-field col s3 againstContainer">
                            <h4 th:text="'Conference'"/>
                            <select th:field="*{againstConference}">
                                <option value="Eastern" th:text="'Eastern'"/>
                                <option value="Western" th:text="'Western'"/>
                            </select>
                        </div>
                        <div id="leagueContainer" class="input-field col s3 againstContainer">
                            <h4 th:text="'League'"/>
                            <select>
                                <option value="" selected="selected" th:text="League"/>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <div class="input-field col s6">
                                <h4 th:text="'Season'"/>
                                <select multiple="multiple" th:field="*{season}">
                                    <option th:value="'20172018'" th:text="'2017 - 2018'"/>
                                    <option th:value="'20162017'" th:text="'2016 - 2017'"/>
                                    <option th:value="'20152016'" th:text="'2015 - 2016'"/>
                                    <option th:value="'20142015'" th:text="'2014 - 2015'"/>
                                    <option th:value="'20132014'" th:text="'2013 - 2014'"/>
                                </select>
                            </div>
                            <div class="input-field col s6">
                                <h4 th:text="'Date'"/>
                                <input type="text" class="datepicker"/>
                            </div>
                        </div>
                    </div>


                    <p>
                        <input class="waves-effect waves-light btn-large" type="submit" value="Submit" />
                        <input class="waves-effect waves-light btn-large" type="reset" value="Reset" />
                    </p>
                </form>
            </div>
            <div class="divider"></div>
        </th:block>

        <th:block th:fragment="WTLbar">
            <h5 class="centered" th:text="${header}"/>
            <div class="container">
                <div>
                    <canvas th:id="${chartName}"></canvas>
                </div>
            </div>
            <script th:inline="javascript">
                /*<![CDATA[*/

                    var ctx = document.getElementById([[${chartName}]]).getContext('2d');
                    var myChart = new Chart(ctx, {
                        type: 'bar',
                        data:
                        {
                            labels: ["All games - [[${stats.gameCount}]]", "Home games - [[${homeStats.gameCount}]]" ,"Away games - [[${visitorStats.gameCount}]]"],
                            datasets:
                            [
                            {
                                label: "Win",
                                backgroundColor: "#2ecc71",
                                data: [ [[${stats.win}]], [[${homeStats.win}]], [[${visitorStats.win}]]]
                            },
                            {
                                label: "Tie",
                                backgroundColor: "#34495e",
                                data: [ [[${stats.tie}]], [[${homeStats.tie}]], [[${visitorStats.tie}]]]
                            },
                            {
                                label: "Loss",
                                backgroundColor: "#e74c3c",
                                data: [ [[${stats.loss}]], [[${homeStats.loss}]], [[${visitorStats.loss}]]]
                            }
                            ]
                        }
                    });

                /*]]>*/
            </script>
        </th:block>

        <th:block th:fragment="winMarginBar">
            <h5 class="centered" th:text="${header}"/>
            <div class="container">
                <div>
                    <canvas th:id="${chartName}"></canvas>
                </div>
            </div>
            <script th:inline="javascript">
                /*<![CDATA[*/

                    var ctx = document.getElementById([[${chartName}]]).getContext('2d');
                    var myChart = new Chart(ctx, {
                        type: 'bar',
                        data:
                        {
                            labels: ["All wins - [[${stats.win}]]", "Home wins - [[${homeStats.win}]]" ,"Away wins - [[${visitorStats.win}]]"],
                            datasets:
                            [
                            {
                                label: "One",
                                backgroundColor: "#99ffbb",
                                data: [ [[${stats.winMargin1}]], [[${homeStats.winMargin1}]], [[${visitorStats.winMargin1}]]]
                            },
                            {
                                label: "Two",
                                backgroundColor: "#00ff55",
                                data: [ [[${stats.winMargin2}]], [[${homeStats.winMargin2}]], [[${visitorStats.winMargin2}]]]
                            },
                            {
                                label: "More",
                                backgroundColor: "#006622",
                                data: [ [[${stats.winMarginMore}]], [[${homeStats.winMarginMore}]], [[${visitorStats.winMarginMore}]]]
                            }
                            ]
                        }
                    });

                /*]]>*/
            </script>
        </th:block>

        <th:block th:fragment="lossMarginBar">
            <h5 class="centered" th:text="${header}"/>
            <div class="container">
                <div>
                    <canvas th:id="${chartName}"></canvas>
                </div>
            </div>
            <script th:inline="javascript">
                /*<![CDATA[*/

                    var ctx = document.getElementById([[${chartName}]]).getContext('2d');
                    var myChart = new Chart(ctx, {
                        type: 'bar',
                        data:
                        {
                            labels: ["All losses - [[${stats.loss}]]", "Home losses - [[${homeStats.loss}]]" ,"Away losses - [[${visitorStats.loss}]]"],
                            datasets:
                            [
                            {
                                label: "One",
                                backgroundColor: "#ff9999",
                                data: [ [[${stats.lossMargin1}]], [[${homeStats.lossMargin1}]], [[${visitorStats.lossMargin1}]]]
                            },
                            {
                                label: "Two",
                                backgroundColor: "#ff0000",
                                data: [ [[${stats.lossMargin2}]], [[${homeStats.lossMargin2}]], [[${visitorStats.lossMargin2}]]]
                            },
                            {
                                label: "More",
                                backgroundColor: "#660000",
                                data: [ [[${stats.lossMarginMore}]], [[${homeStats.lossMarginMore}]], [[${visitorStats.lossMarginMore}]]]
                            }
                            ]
                        }
                    });

                /*]]>*/
            </script>
        </th:block>

    </body>
</html>