<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head>

    </head>

    <body>
        <th:block th:fragment="searchToolForm">
            <div class="row">
                <form class="col s12" th:action="@{/searchtool}" th:object="${searchToolForm}" method="post">
                    <div class="row">
                        <div class="input-field col s6">
                            <h4 th:text="'Team'"/>
                            <select th:field="*{team}">
                                <option value="" disabled="disabled" selected="selected">Choose team:</option>
                                <th:block th:each="team : ${teams}">
                                    <option th:value="${team.id}" th:text="${team.name}"/>
                                </th:block>
                            </select>
                        </div>
                        <div class="input-field col s3">
                            <h4 th:text="'Against'"/>
                            <select id="againstSelect" th:field="*{againstSelect}">
                                <option value="1" th:text="'Team'"/>
                                <option value="2" th:text="'Division'"/>
                                <option value="3" th:text="'Conference'"/>
                                <option value="4" th:text="'League'"/>
                            </select>
                        </div>

                        <div id="teamContainer" class="input-field col s3 againstContainer">
                            <h4 th:text="'Team'"/>
                            <select multiple="multiple" th:field="*{againstTeam}">
                                <th:block th:each="team : ${teams}">
                                    <option th:value="${team.id}" th:text="${team.name}"/>
                                </th:block>
                            </select>
                        </div>
                        <div id="divisionContainer" class="input-field col s3 againstContainer">
                            <h4 th:text="'Division'"/>
                            <select multiple="multiple" th:field="*{againstDivision}">
                                <option value="Metropolitan" th:text="'Metropolitan'"/>
                                <option value="Atlantic" th:text="'Atlantic'"/>
                                <option value="Central" th:text="'Central'"/>
                                <option value="Pacific" th:text="'Pacific'"/>
                            </select>
                        </div>
                        <div id="conferenceContainer" class="input-field col s3 againstContainer">
                            <h4 th:text="'Conference'"/>
                            <select th:field="*{againstConference}">
                                <option value="Eastern" th:text="'Eastern'"/>
                                <option value="Western" th:text="'Western'"/>
                            </select>
                        </div>
                        <div id="leagueContainer" class="input-field col s3 againstContainer">
                            <h4 th:text="'League'"/>
                            <select>
                                <option value="" selected="selected" th:text="League"/>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <div class="input-field col s6">
                                <h4 th:text="'Season'"/>
                                <select multiple="multiple" th:field="*{season}">
                                    <option th:value="'20172018'" th:text="'2017 - 2018'"/>
                                    <option th:value="'20162017'" th:text="'2016 - 2017'"/>
                                    <option th:value="'20152016'" th:text="'2015 - 2016'"/>
                                    <option th:value="'20142015'" th:text="'2014 - 2015'"/>
                                    <option th:value="'20132014'" th:text="'2013 - 2014'"/>
                                </select>
                            </div>
                            <div class="input-field col s6">
                                <h4 th:text="'Date'"/>
                                <input type="text" class="datepicker"/>
                            </div>
                        </div>
                    </div>


                    <p>
                        <input class="waves-effect waves-light btn-large" type="submit" value="Submit" />
                        <input class="waves-effect waves-light btn-large" type="reset" value="Reset" />
                    </p>
                </form>
            </div>
            <div class="divider"></div>
        </th:block>

        <th:block th:fragment="WTLbar">
            <h5 class="centered" th:text="${header}"/>
            <div class="container">
                <div>
                    <canvas th:id="${chartName}"></canvas>
                </div>
            </div>
            <script th:inline="javascript">
                /*<![CDATA[*/

                    var ctx = document.getElementById([[${chartName}]]).getContext('2d');
                    var myChart = new Chart(ctx, {
                        type: 'bar',
                        data:
                        {
                            labels: ["All games - [[${stats.gameCount}]]", "Home games - [[${homeStats.gameCount}]]" ,"Away games - [[${visitorStats.gameCount}]]"],
                            datasets:
                            [
                            {
                                label: "Win",
                                backgroundColor: "#2ecc71",
                                data: [ [[${stats.wins}]], [[${homeStats.wins}]], [[${visitorStats.wins}]]]
                            },
                            {
                                label: "Tie",
                                backgroundColor: "#34495e",
                                data: [ [[${stats.ties}]], [[${homeStats.ties}]], [[${visitorStats.ties}]]]
                            },
                            {
                                label: "Loss",
                                backgroundColor: "#e74c3c",
                                data: [ [[${stats.losses}]], [[${homeStats.losses}]], [[${visitorStats.losses}]]]
                            }
                            ]
                        }
                    });

                /*]]>*/
            </script>
        </th:block>

        <th:block th:fragment="winMarginBar">
            <h5 class="centered" th:text="${header}"/>
            <div class="container">
                <div>
                    <canvas th:id="${chartName}"></canvas>
                </div>
            </div>
            <script th:inline="javascript">
                /*<![CDATA[*/

                    var ctx = document.getElementById([[${chartName}]]).getContext('2d');
                    var myChart = new Chart(ctx, {
                        type: 'bar',
                        data:
                        {
                            labels: ["All wins - [[${stats.wins}]]", "Home wins - [[${homeStats.wins}]]" ,"Away wins - [[${visitorStats.wins}]]"],
                            datasets:
                            [
                            {
                                label: "One",
                                backgroundColor: "#99ffbb",
                                data: [ [[${stats.winsWithOneGoal}]], [[${homeStats.winsWithOneGoal}]], [[${visitorStats.winsWithOneGoal}]]]
                            },
                            {
                                label: "Two",
                                backgroundColor: "#00ff55",
                                data: [ [[${stats.winsWithTwoGoals}]], [[${homeStats.winsWithTwoGoals}]], [[${visitorStats.winsWithTwoGoals}]]]
                            },
                            {
                                label: "More",
                                backgroundColor: "#006622",
                                data: [ [[${stats.winsWithMoreGoals}]], [[${homeStats.winsWithMoreGoals}]], [[${visitorStats.winsWithMoreGoals}]]]
                            }
                            ]
                        }
                    });

                /*]]>*/
            </script>
        </th:block>

        <th:block th:fragment="lossMarginBar">
            <h5 class="centered" th:text="${header}"/>
            <div class="container">
                <div>
                    <canvas th:id="${chartName}"></canvas>
                </div>
            </div>
            <script th:inline="javascript">
                /*<![CDATA[*/

                    var ctx = document.getElementById([[${chartName}]]).getContext('2d');
                    var myChart = new Chart(ctx, {
                        type: 'bar',
                        data:
                        {
                            labels: ["All losses - [[${stats.losses}]]", "Home losses - [[${homeStats.losses}]]" ,"Away losses - [[${visitorStats.losses}]]"],
                            datasets:
                            [
                            {
                                label: "One",
                                backgroundColor: "#ff9999",
                                data: [ [[${stats.lossesWithOneGoal}]], [[${homeStats.lossesWithOneGoal}]], [[${visitorStats.lossesWithOneGoal}]]]
                            },
                            {
                                label: "Two",
                                backgroundColor: "#ff0000",
                                data: [ [[${stats.lossesWithTwoGoals}]], [[${homeStats.lossesWithTwoGoals}]], [[${visitorStats.lossesWithTwoGoals}]]]
                            },
                            {
                                label: "More",
                                backgroundColor: "#660000",
                                data: [ [[${stats.lossesWithMoreGoals}]], [[${homeStats.lossesWithMoreGoals}]], [[${visitorStats.lossesWithMoreGoals}]]]
                            }
                            ]
                        }
                    });

                /*]]>*/
            </script>
        </th:block>

        <th:block th:fragment="resultsBar2">
            <h5 class="centered" th:text="${header}"/>
            <div class="container">
                <div>
                    <canvas th:id="${chartName}"></canvas>
                </div>
                <script th:inline="javascript">
                /*<![CDATA[*/

                    var ctx = document.getElementById([[${chartName}]]).getContext('2d');
                    var myChart = new Chart(ctx, {
                        type: 'horizontalBar',
                        data:
                        {
                            labels: ["1-0", "2-0", "3-0", "4-0", "5-0", "6-0",
                                     "2-1", "3-1", "4-1", "5-1", "6-1",
                                     "3-2", "4-2", "5-2", "6-2",
                                     "4-3", "5-3" ,"6-3",
                                     "5-4", "6-4",
                                     "6-5", "Else",
                                     "0-0", "1-1", "2-2", "3-3", "4-4", "5-5", "6-6", "Else",
                                     "1-0", "2-0", "3-0", "4-0", "5-0", "6-0",
                                     "2-1", "3-1", "4-1", "5-1", "6-1",
                                     "3-2", "4-2", "5-2", "6-2",
                                     "4-3", "5-3", "6-3",
                                     "5-4", "6-4",
                                     "6-5", "Else"],
                            datasets:
                            [
                            {
                                label: "Result",
                                backgroundColor: "#34495e",
                                data: [ [[${results.get('result10team')}]],
                                        [[${results.get('result20team')}]],
                                        [[${results.get('result30team')}]],
                                        [[${results.get('result40team')}]],
                                        [[${results.get('result50team')}]],
                                        [[${results.get('result60team')}]],
                                        [[${results.get('result21team')}]],
                                        [[${results.get('result31team')}]],
                                        [[${results.get('result41team')}]],
                                        [[${results.get('result51team')}]],
                                        [[${results.get('result61team')}]],
                                        [[${results.get('result32team')}]],
                                        [[${results.get('result42team')}]],
                                        [[${results.get('result52team')}]],
                                        [[${results.get('result62team')}]],
                                        [[${results.get('result43team')}]],
                                        [[${results.get('result53team')}]],
                                        [[${results.get('result63team')}]],
                                        [[${results.get('result54team')}]],
                                        [[${results.get('result64team')}]],
                                        [[${results.get('result65team')}]],
                                        [[${results.get('resultElseTeam')}]],
                                        [[${results.get('result00')}]],
                                        [[${results.get('result11')}]],
                                        [[${results.get('result22')}]],
                                        [[${results.get('result33')}]],
                                        [[${results.get('result44')}]],
                                        [[${results.get('result55')}]],
                                        [[${results.get('result66')}]],
                                        [[${results.get('resultElseTie')}]],
                                        [[${results.get('result10against')}]],
                                        [[${results.get('result20against')}]],
                                        [[${results.get('result30against')}]],
                                        [[${results.get('result40against')}]],
                                        [[${results.get('result50against')}]],
                                        [[${results.get('result60against')}]],
                                        [[${results.get('result21against')}]],
                                        [[${results.get('result31against')}]],
                                        [[${results.get('result41against')}]],
                                        [[${results.get('result51against')}]],
                                        [[${results.get('result61against')}]],
                                        [[${results.get('result32against')}]],
                                        [[${results.get('result42against')}]],
                                        [[${results.get('result52against')}]],
                                        [[${results.get('result62against')}]],
                                        [[${results.get('result43against')}]],
                                        [[${results.get('result53against')}]],
                                        [[${results.get('result63against')}]],
                                        [[${results.get('result54against')}]],
                                        [[${results.get('result64against')}]],
                                        [[${results.get('result65against')}]],
                                        [[${results.get('resultElseAgainst')}]]
                                      ]
                            }
                            ]
                        }
                    });

                /*]]>*/
            </script>
            </div>
        </th:block>

        <th:block th:fragment="resultsBar">
            <h5 class="centered" th:text="${header}"/>
            <div class="container">
                <div>
                    <canvas th:id="${chartName}"></canvas>
                </div>
                <script th:inline="javascript">
                /*<![CDATA[*/

                    var ctx = document.getElementById([[${chartName}]]).getContext('2d');
                    var myChart = new Chart(ctx, {
                        type: 'bar',
                        data:
                        {
                            labels: ["1-0", "2-0", "3-0", "4-0", "5-0", "6-0",
                                     "2-1", "3-1", "4-1", "5-1", "6-1",
                                     "3-2", "4-2", "5-2", "6-2",
                                     "4-3", "5-3" ,"6-3",
                                     "5-4", "6-4",
                                     "6-5", "Else",
                                     "0-0", "1-1", "2-2", "3-3", "4-4", "5-5", "6-6", "Else",
                                     "1-0", "2-0", "3-0", "4-0", "5-0", "6-0",
                                     "2-1", "3-1", "4-1", "5-1", "6-1",
                                     "3-2", "4-2", "5-2", "6-2",
                                     "4-3", "5-3", "6-3",
                                     "5-4", "6-4",
                                     "6-5", "Else"],
                            datasets:
                            [
                            {
                                label: "1-0 Win",
                                backgroundColor: "#2ecc71",
                                data: [ [[${results.get('result10team')}]] ]
                            },
                            {
                                label: "2-0 Win",
                                backgroundColor: "#2ecc71",
                                data: [ [[${results.get('result20team')}]] ]
                            },
                            {
                                label: "3-0 Win",
                                backgroundColor: "#2ecc71",
                                data: [ [[${results.get('result30team')}]] ]
                            },
                            {
                                label: "4-0 Win",
                                backgroundColor: "#2ecc71",
                                data: [ [[${results.get('result40team')}]] ]
                            },
                            {
                                label: "5-0 Win",
                                backgroundColor: "#2ecc71",
                                data: [ [[${results.get('result50team')}]] ]
                            },
                            {
                                label: "6-0 Win",
                                backgroundColor: "#2ecc71",
                                data: [ [[${results.get('result60team')}]] ]
                            },
                            {
                                label: "2-1 Win",
                                backgroundColor: "#2ecc71",
                                data: [ [[${results.get('result21team')}]] ]
                            },
                            {
                                label: "3-1 Win",
                                backgroundColor: "#2ecc71",
                                data: [ [[${results.get('result31team')}]] ]
                            },
                            {
                                label: "4-1 Win",
                                backgroundColor: "#2ecc71",
                                data: [ [[${results.get('result41team')}]] ]
                            },
                            {
                                label: "5-1 Win",
                                backgroundColor: "#2ecc71",
                                data: [ [[${results.get('result51team')}]] ]
                            },
                            {
                                label: "6-1 Win",
                                backgroundColor: "#2ecc71",
                                data: [ [[${results.get('result61team')}]] ]
                            },
                            {
                                label: "3-2 Win",
                                backgroundColor: "#2ecc71",
                                data: [ [[${results.get('result32team')}]] ]
                            },
                            {
                                label: "4-2 Win",
                                backgroundColor: "#2ecc71",
                                data: [ [[${results.get('result42team')}]] ]
                            },
                            {
                                label: "5-2 Win",
                                backgroundColor: "#2ecc71",
                                data: [ [[${results.get('result52team')}]] ]
                            },
                            {
                                label: "6-2 Win",
                                backgroundColor: "#2ecc71",
                                data: [ [[${results.get('result62team')}]] ]
                            },
                            {
                                label: "4-3 Win",
                                backgroundColor: "#2ecc71",
                                data: [ [[${results.get('result43team')}]] ]
                            },
                            {
                                label: "5-3 Win",
                                backgroundColor: "#2ecc71",
                                data: [ [[${results.get('result53team')}]] ]
                            },
                            {
                                label: "6-3 Win",
                                backgroundColor: "#2ecc71",
                                data: [ [[${results.get('result63team')}]] ]
                            },
                            {
                                label: "5-4 Win",
                                backgroundColor: "#2ecc71",
                                data: [ [[${results.get('result54team')}]] ]
                            },
                            {
                                label: "6-4 Win",
                                backgroundColor: "#2ecc71",
                                data: [ [[${results.get('result64team')}]] ]
                            },
                            {
                                label: "6-5 Win",
                                backgroundColor: "#2ecc71",
                                data: [ [[${results.get('result65team')}]] ]
                            },
                            {
                                label: "Else Win",
                                backgroundColor: "#2ecc71",
                                data: [ [[${results.get('resultElseTeam')}]] ]
                            },
                            {
                                label: "1-1 Tie",
                                backgroundColor: "#34495e",
                                data: [ [[${results.get('result11')}]] ]
                            },
                            {
                                label: "2-2 Tie",
                                backgroundColor: "#34495e",
                                data: [ [[${results.get('result22')}]] ]
                            },
                            {
                                label: "3-3 Tie",
                                backgroundColor: "#34495e",
                                data: [ [[${results.get('result33')}]] ]
                            },
                            {
                                label: "4-4 Tie",
                                backgroundColor: "#34495e",
                                data: [ [[${results.get('result44')}]] ]
                            },
                            {
                                label: "5-5 Tie",
                                backgroundColor: "#34495e",
                                data: [ [[${results.get('result55')}]] ]
                            },
                            {
                                label: "6-6 Tie",
                                backgroundColor: "#34495e",
                                data: [ [[${results.get('result66')}]] ]
                            },
                            {
                                label: "Else Tie",
                                backgroundColor: "#34495e",
                                data: [ [[${results.get('resultElseTie')}]] ]
                            },
                            {
                                label: "1-0 Loss",
                                backgroundColor: "#e74c3c",
                                data: [ [[${results.get('result10against')}]] ]
                            },
                            {
                                label: "2-0 Loss",
                                backgroundColor: "#e74c3c",
                                data: [ [[${results.get('result20against')}]] ]
                            },
                            {
                                label: "3-0 Loss",
                                backgroundColor: "#e74c3c",
                                data: [ [[${results.get('result30against')}]] ]
                            },
                            {
                                label: "4-0 Loss",
                                backgroundColor: "#e74c3c",
                                data: [ [[${results.get('result40against')}]] ]
                            },
                            {
                                label: "5-0 Loss",
                                backgroundColor: "#e74c3c",
                                data: [ [[${results.get('result50against')}]] ]
                            },
                            {
                                label: "6-0 Loss",
                                backgroundColor: "#e74c3c",
                                data: [ [[${results.get('result60against')}]] ]
                            },
                            {
                                label: "2-1 Loss",
                                backgroundColor: "#e74c3c",
                                data: [ [[${results.get('result21against')}]] ]
                            },
                            {
                                label: "3-1 Loss",
                                backgroundColor: "#e74c3c",
                                data: [ [[${results.get('result31against')}]] ]
                            },
                            {
                                label: "4-1 Loss",
                                backgroundColor: "#e74c3c",
                                data: [ [[${results.get('result41against')}]] ]
                            },
                            {
                                label: "5-1 Loss",
                                backgroundColor: "#e74c3c",
                                data: [ [[${results.get('result51against')}]] ]
                            },
                            {
                                label: "6-1 Loss",
                                backgroundColor: "#e74c3c",
                                data: [ [[${results.get('result61against')}]] ]
                            },
                            {
                                label: "3-2 Loss",
                                backgroundColor: "#e74c3c",
                                data: [ [[${results.get('result32against')}]] ]
                            },
                            {
                                label: "4-2 Loss",
                                backgroundColor: "#e74c3c",
                                data: [ [[${results.get('result42against')}]] ]
                            },
                            {
                                label: "5-2 Loss",
                                backgroundColor: "#e74c3c",
                                data: [ [[${results.get('result52against')}]] ]
                            },
                            {
                                label: "6-2 Loss",
                                backgroundColor: "#e74c3c",
                                data: [ [[${results.get('result62against')}]] ]
                            },
                            {
                                label: "4-3 Loss",
                                backgroundColor: "#e74c3c",
                                data: [ [[${results.get('result43against')}]] ]
                            },
                            {
                                label: "5-3 Loss",
                                backgroundColor: "#e74c3c",
                                data: [ [[${results.get('result53against')}]] ]
                            },
                            {
                                label: "6-3 Loss",
                                backgroundColor: "#e74c3c",
                                data: [ [[${results.get('result63against')}]] ]
                            },
                            {
                                label: "5-4 Loss",
                                backgroundColor: "#e74c3c",
                                data: [ [[${results.get('result54against')}]] ]
                            },
                            {
                                label: "6-4 Loss",
                                backgroundColor: "#e74c3c",
                                data: [ [[${results.get('result64against')}]] ]
                            },
                            {
                                label: "6-5 Loss",
                                backgroundColor: "#e74c3c",
                                data: [ [[${results.get('result65against')}]] ]
                            },
                            {
                                label: "Else Loss",
                                backgroundColor: "#e74c3c",
                                data: [ [[${results.get('resultElseAgainst')}]] ]
                            }
                            ]
                        }
                    });

                /*]]>*/
            </script>
            </div>
        </th:block>

    </body>
</html>