<!DOCTYPE HTML>
<html xmlns:th          = "http://www.thymeleaf.org">

    <head>
        <th:block th:replace="fragments/default::head"/>

        <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/searchTool.css}"/>

        <script th:src="@{/js/searchTool.js}"/>

    </head>

    <body>

        <th:block th:replace="fragments/default::navbar"/>

        <th:block th:replace="fragments/searchTool::searchToolForm"/>

        <div class="row">
            <div class="col s4" th:with="stats         = ${searchToolStats.get('allGames')},
                                         homeStats     = ${searchToolStats.get('homeGames')},
                                         visitorStats  = ${searchToolStats.get('visitorGames')}">
                <th:block th:replace="fragments/searchTool::WTLbar(chartName='W-T-L',header='Win-Tie-Loss')"/>
            </div>
            <div class="col s4" th:with="stats         = ${searchToolStats.get('allGames')},
                                         homeStats     = ${searchToolStats.get('homeGames')},
                                         visitorStats  = ${searchToolStats.get('visitorGames')}">
                <th:block th:replace="fragments/searchTool::winMarginBar(chartName='winMarginBar',header='Win Margin')"/>
            </div>
            <div class="col s4" th:with="stats         = ${searchToolStats.get('allGames')},
                                         homeStats     = ${searchToolStats.get('homeGames')},
                                         visitorStats  = ${searchToolStats.get('visitorGames')}">
                <th:block th:replace="fragments/searchTool::lossMarginBar(chartName='lossMarginBar',header='Loss Margin')"/>
            </div>
        </div>

        <table class="bordered centered">
            <thead>
                <tr>
                    <th th:text="'Date'"/>
                    <th th:text="'Home'"/>
                    <th th:text="'Away'"/>
                </tr>
            </thead>

            <tbody>
                <th:block th:each="game : ${games}">
                    <tr>
                        <td th:text="${game.date}"/>
                        <td th:text="|${game.homeTeam.name} - ${game.result.home_total}|"/>
                        <td th:text="|${game.visitorTeam.name} - ${game.result.visitor_total}|"/>
                    </tr>
                </th:block>
            </tbody>
        </table>

    </body>
</html>