<!DOCTYPE HTML>
<html xmlns:th          = "http://www.thymeleaf.org">

    <head>
        <th:block th:replace="fragments/default::head"/>

        <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/searchTool.css}"/>

        <script th:src="@{/js/searchTool.js}"/>

    </head>

    <body>

        <th:block th:replace="fragments/default::navbar"/>

        <div class="row">
            <form class="col s12" th:action="@{/searchtool}" th:object="${searchToolForm}" method="post">
                <div class="row">
                    <div class="input-field col s6">
                        <select th:field="*{team}">
                            <option value="" disabled="disabled" selected="selected">Choose team:</option>
                            <th:block th:each="team : ${teams}">
                                <option th:value="${team.id}" th:text="${team.name}"/>
                            </th:block>
                        </select>
                        <label>Team</label>
                    </div>
                    <div class="input-field col s3">
                        <select id="againstSelect" th:field="*{againstSelect}">
                            <option value="0" disabled="disabled" selected="selected">Against:</option>
                            <option value="1">Team</option>
                            <option value="2">Division</option>
                            <option value="3">Conference</option>
                            <option value="4">League</option>
                        </select>
                        <label>Against</label>
                    </div>

                    <div id="teamContainer" class="input-field col s3 againstContainer">
                        <select multiple="multiple" th:field="*{againstTeam}">
                            <option value="" disabled="disabled" selected="selected">Choose team:</option>
                            <th:block th:each="team : ${teams}">
                                <option th:value="${team.id}" th:text="${team.name}"/>
                            </th:block>
                        </select>
                        <label>Team</label>
                    </div>
                    <div id="divisionContainer" class="input-field col s3 againstContainer">
                        <select multiple="multiple" th:field="*{againstDivision}">
                            <option value="" disabled="disabled" selected="selected">Choose division:</option>
                            <option value="Metropolitan" th:text="'Metropolitan'"/>
                            <option value="Atlantic" th:text="'Atlantic'"/>
                            <option value="Central" th:text="'Central'"/>
                            <option value="Pacific" th:text="'Pacific'"/>
                        </select>
                        <label>Division</label>
                    </div>
                    <div id="conferenceContainer" class="input-field col s3 againstContainer">
                        <select th:field="*{againstConference}">
                            <option value="" disabled="disabled" selected="selected">Choose conference:</option>
                            <option value="Eastern" th:text="'Eastern'"/>
                            <option value="Western" th:text="'Western'"/>
                        </select>
                        <label>Conference</label>
                    </div>
                    <div id="leagueContainer" class="input-field col s3 againstContainer">
                        <select>
                            <option value="" selected="selected" th:text="League"/>
                        </select>
                        <label>League</label>
                    </div>
                </div>

                <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
            </form>
        </div>
    </body>
</html>